<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- User = visitor with an account & who's logged into the site -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<main>
    <!-- Change Password Block -->
    {% if request.user.is_authenticated %}
        <!-- Load only for Users -->
        <h2>Change Password</h2>
        <form action="{% url 'users:changePassword' %}" method="post">
            {% csrf_token %}
            <table class="form_table">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Change Password" class="submit_button">
        </form>
    {% else %}
        <!-- Message for Visitors -->
        <p>You need to be logged in to change your password. <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
</main>
{% endblock %}


<!-- Assignemnt Notes -->
<!-- This page is part of the news setup and additional features. It satisfies the following:
[ ] Part 1: 