<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- User = visitor with an account & who's logged into the site -->

{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<br>
<main>

    <button><a href="{% url 'news:allStories' %}">Explore All Stories</a></button>

    <!-- Hero Block -->
    <div class="hero">
        <!-- Load only for Users / Logged In -->
        {% if request.user.is_authenticated %}
        
            <!-- Load only if the Profile User is also the Logged in User -->
            {% if request.user.id == user.id %}
                <h2>Welcome back {{ user.username }}!</h2>

                <!-- User Details / Profile Block -->
                <table id="profile_table">
                    <tr>
                        <td><b>Your Email</b></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Your Username</b></td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Your Password</td>
                        <td><button><a href="{% url 'changePassword' %}">Change</a></button></td>
                    </tr>
                </table>
    </div>

            <!-- User / Author Stories Block -->
            <h3>Your Stories</h3>
        {% else %}
            <h2>View {{ user.username }}'s Stories</h2>
        {% endif %}
    {% else %}
        <h2>View {{ user.username }}'s Stories</h2>
        {% endif %}
    <div id="user-stories">
        {% if user_stories %}
            {% for story in user_stories %}
                {% include "news/storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available</p>
        {% endif %}
    </div>

</main>
{% endblock %}


<!-- Assignemnt Notes -->
<!-- This page is part of the news setup and additional features. It satisfies the following:
[ ] Part 1: 