<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- User = visitor with an account & who's logged into the site -->

{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

{% block content %}
<br>

<h2> Stories for {{ author.username }}</h2>
    <div id="latest-stories">

            {% for story in author.newsstory_set.all %}
                {% include './storyCard.html' with story=story position=forloop.counter %}
            {% endfor %}
        
    </div>

{% endblock %}


<!-- Assignemnt Notes -->
<!-- This page is part of the news setup and satisfies the following:
[ ] Part 1: 