<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- User = visitor with an account & who's logged into the site -->

{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

{% block content %}
<br>

<h2> Stories for {{ author.username }}</h2>
    <div id="latest-stories">

            {% for story in author.newsstory_set.all %}
                {% include './storyCard.html' with story=story position=forloop.counter %}
            {% endfor %}
        
    </div>

    <h2> Stories for {{ author.username }}</h2>
    <div id="latest-stories">

            {% for story in author.newsstory_set.all %}
                {% include './storyCard.html' with story=story position=forloop.counter %}
            {% endfor %}
        
    </div>

    <div class="story-card" id="story-card-{{ position }}">
        <a href="{% url 'news:story' story.id %}">
            
            {% if story.image_field %}
                <img src="{{ story.image_field }}">
            
            {% else %}
                <img src="https://picsum.photos/600">
            
            {% endif %}
            <div class="story-card-text">
                <h3>{{ story.title }}</h3>
                <h4>{{ story.author.username }}</h4>
                <h4>{{ story.pub_date }}</h4>
            </div>
        </a>
    </div>

{% endblock %}


<!-- Assignemnt Notes -->
<!-- This page is part of the news setup and satisfies the following:
[ ] Part 1: 