<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- User = visitor with an account & who's logged into the site -->

{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Deleteing the Story -->
    {% if request.user.is_authenticated %}
        <!-- Load for Users / Logged In -->
        {% if request.user == story.author %}

            <!-- Load only if the user is also the author -->
            <form class="delete-confirm" method="post">
                {% csrf_token %}
                <h2>Hi {{ story.author }}!</h2>
                <h3>Are you sure you want to delete: <strong>"<a href="{% url 'news:story' story.id %}">{{ story.title }}</a>"?</strong></h3>

                <!-- Buttons Block -->
                <input type="submit" value="Confirm" class="submit_button">
                <button class="cancel-button"><a href="{% url 'news:story' story.id %}">Cancel</a></button>
            </form>
        {% else %}
            
            <!-- Load if Vistor / Not Logged In -->
            <meta http-equiv="refresh" content="0; URL={% url 'news:story' story.id %}" />
        {% endif %}

</main>
{% endblock %}


<!-- Assignemnt Notes -->
<!-- This page is part of the news setup and satisfies the following:
[ ] Part 1: 