<!-- Vistor = individual browsing website but with no account &/ not logged in -->
<!-- User = visitor with an account & who's logged into the site -->

{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<br>
<main>

<!-- Edit Your Story  Block -->
<h2>Edit Your Story</h2>
{% if request.user.is_authenticated %}
    
    <!-- Load only for Users-->
        {% if request.user == story.author %}
    
        <!-- Load only if the user is also the author -->
            <form action="{% url 'news:editStory' story.id %}" method="post">
                {% csrf_token %}
                <table class="form_table">
                    {{ form.as_table }}
                </table>

                <!-- Buttons Block -->
                <input type="submit" value="ReSumit" class="submit_button">
                <button class="cancel-button"><a href="{% url 'news:story' story.id %}">Cancel</a></button>
            </form>
        {% else %}
            <!-- Load only for Visitors / Non-logged in Users-->
            <meta http-equiv="refresh" content="0; URL={% url 'news:story' story.id %}" />
        {% endif %}
</main>

{% endblock %}

    <!-- Buttons Block -->
    <!-- <div class="hero-buttons"> -->
        <!-- {% if request.user.is_authenticated %} -->
        <!-- Load for Users / Logged In -->
        <!-- <button><a href="{% url 'news:newStory' %}">Write New Story</a></button>
        {% else %} -->
        <!-- Load only for Visitors / Not Logged In -->
        <!-- <button><a href="{% url 'login' %}">Login to Write a New Story</a></button>
        {% end if %}
        <button><a href="{% url 'news:allStories' %}">Explore All Stories</a></button>
    </div> -->
<!-- </div> -->

<!-- Latest Stories Block -->
<!-- <h2>Latest News</h2>
<div id="latest-stories">
    {% if latest_stories %}
        {% for story in latest_stories %}
            {% include "./storyCard.html" with story=story position=forloop.counter %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div> -->

<!-- All Stories Block -->
<!-- <div id="all-stories">
    {% if latest_stories %}
        {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div> -->


<!-- Assignemnt Notes -->
<!-- This page is part of the news setup and satisfies the following:
[ ] Part 1: Order the stories by date
[ ] Part 2: Show / Hide the relevant information & buttons based on whether a user is logged in or out
[ ] Part 2: Enable / Disbale the relevant features based on whether the user is logged in or out -->